<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>car-service-project</display-name>
	<servlet>
		<description>
		</description>
		<display-name>CustomerLogin</display-name>
		<servlet-name>CustomerLogin</servlet-name>
		<servlet-class>com.qn.controller.CustomerLogin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CustomerRegister</display-name>
		<servlet-name>CustomerRegister</servlet-name>
		<servlet-class>com.qn.controller.CustomerRegister</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CarDetails</display-name>
		<servlet-name>CarDetails</servlet-name>
		<servlet-class>com.qn.controller.CarDetails</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServiceRequest</display-name>
		<servlet-name>ServiceRequest</servlet-name>
		<servlet-class>com.qn.controller.ServiceRequest</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServiceStatus</display-name>
		<servlet-name>ServiceStatus</servlet-name>
		<servlet-class>com.qn.controller.ServiceStatus</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminLogin</display-name>
		<servlet-name>AdminLogin</servlet-name>
		<servlet-class>com.qn.controller.AdminLogin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewCars</display-name>
		<servlet-name>ViewCars</servlet-name>
		<servlet-class>com.qn.controller.ViewCars</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CustomerLogin</servlet-name>
		<url-pattern>/CustomerLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerRegister</servlet-name>
		<url-pattern>/CustomerRegister</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CarDetails</servlet-name>
		<url-pattern>/CarDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceRequest</servlet-name>
		<url-pattern>/ServiceRequest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceStatus</servlet-name>
		<url-pattern>/ServiceStatus</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminLogin</servlet-name>
		<url-pattern>/AdminLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewCars</servlet-name>
		<url-pattern>/ViewCars</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
